<h1>MD Doc h1 • GitLab uses "GitLab Flavored Markdown" (GFM)</h1>
<p>MD Doc Paragraph • GitLab uses "GitLab Flavored Markdown" (GFM). It extends the standard Markdown in a few
  significant ways to add some useful functionality. You can use GFM in the following areas: comments, issues, merge
  requests, milestones, snippets and more.</p>
<p class="sm">MD Doc Small Paragraph • GitLab uses "GitLab Flavored Markdown" (GFM). It extends the standard Markdown
  in a few significant ways to add some useful functionality. You can use GFM in the following areas: comments, issues,
  merge requests, milestones, snippets and more.</p>
<p class="monospace">UI Monospace</p>
<p class="monospace sm">UI Small Monospace</p>
<h2>MD Doc h2 • GitLab uses "GitLab Flavored Markdown" (GFM)</h2>
<p>MD Doc Paragraph • GitLab uses "GitLab Flavored Markdown" (GFM). It extends the standard Markdown in a few
  significant ways to add some useful functionality. You can use GFM in the following areas: comments, issues, merge
  requests, milestones, snippets and more.</p>
<h3>MD Doc h3 • GitLab uses "GitLab Flavored Markdown" (GFM)</h3>
<p>MD Doc Paragraph • GitLab uses "GitLab Flavored Markdown" (GFM). It extends the standard Markdown in a few
  significant ways to add some useful functionality. You can use GFM in the following areas: comments, issues, merge
  requests, milestones, snippets and more.</p>
<h4>MD Doc h4 • GitLab uses "GitLab Flavored Markdown" (GFM)</h4>
<p>MD Doc Paragraph • GitLab uses "GitLab Flavored Markdown" (GFM). It extends the standard Markdown in a few
  significant ways to add some useful functionality. You can use GFM in the following areas: comments, issues, merge
  requests, milestones, snippets and more.</p>
<h5>MD Doc h5 • GitLab uses "GitLab Flavored Markdown" (GFM)</h5>
<p>MD Doc Paragraph • GitLab uses "GitLab Flavored Markdown" (GFM). It extends the standard Markdown in a few
  significant ways to add some useful functionality. You can use GFM in the following areas: comments, issues, merge
  requests, milestones, snippets and more.</p>
<h6>MD Doc h6 • GitLab uses "GitLab Flavored Markdown" (GFM)</h6>
<p>MD Doc Paragraph • GitLab uses "GitLab Flavored Markdown" (GFM). It extends the standard Markdown in a few
  significant ways to add some useful functionality. You can use GFM in the following areas: comments, issues, merge
  requests, milestones, snippets and more.</p>
<blockquote>
  <p>
    MD Doc Blockquote • GitLab uses "GitLab Flavored Markdown" (GFM). It extends the standard Markdown in a few
    significant ways to add some useful functionality. You can use GFM in the following areas: comments, issues, merge
    requests, milestones, snippets and more.
  </p>
</blockquote>
<blockquote>
  <ul>
    <li>Blockquote list item 1</li>
    <li>Blockquote list item 2</li>
  </ul>
</blockquote>
<blockquote>
  <table>
    <thead>
      <tr>
        <th>header</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>cell</td>
      </tr>
    </tbody>
  </table>
</blockquote>
<blockquote>
  <blockquote>
    <p>
      Nested blockquote
    </p>
  </blockquote>
</blockquote>
<p>
  This is a paragraph with two types inline diff <span class="idiff addition">addition</span> and
  <span class="idiff deletion">deletion</span>
</p>
<p>
  This block implements the "GitLab Flavored Markdown" <code>Code span</code> styles.
</p>

<p>
  This is an audio file
  <span class="media-container audio-container">
    <audio src="file.mp3" controls="true" data-setup="{}" data-title="file.mp3" data-canonical-src="file.mp3"
      class="gfm">
    </audio>
    <a href="file.mp3" target="_blank" rel="noopener noreferrer" title="Download file.mp3" data-canonical-src="file.mp3"
      data-link="true" class="gfm">file.mp3</a>
  </span>
</p>
